// $body-font-family: 'Avenir Book', serif;
// $heading-font-family: 'didot', serif;

.v-application .v-main, .v-application .v-dialog {
  .title-regular {
    font-family: 'didot Regular' !important;
  }
  .title-bold {
    font-family: 'Didot Bold' !important;
  }
  .font-light {
    font-family: 'Avenir Light' !important;
  }
  .font-heavy {
    font-family: 'Avenir Heavy' !important;
  }
  .font-black {
    letter-spacing: 0.1rem !important;
    font-family: 'Avenir Black' !important;
  }
  .font-medium {
    font-family: 'Avenir Medium' !important; 
  }
  .font-roman {
    font-family: 'Avenir Roman' !important; 
  }
}

.bold {
  font-weight: bold !important;
}

.v-btn .v-btn__content{
  font-family: 'Avenir Heavy' !important;
  letter-spacing: 0.1rem !important;
}

.v-btn > .v-btn__content .v-icon {
  margin-bottom: -0.1rem !important;
}

.v-btn--contained > .v-btn__content .v-icon {
  margin-bottom: -0.1rem !important;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('~assets/fonts/Avenir-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Light';
  src: url('~assets/fonts/Avenir-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('~assets/fonts/Avenir-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Black';
  src: url('~assets/fonts/Avenir-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('~assets/fonts/Avenir-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('~assets/fonts/Avenir-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'didot';
  src: url('~assets/fonts/didot-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot Bold';
  src: url('~assets/fonts/didot-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'didot Regular';
  src: url('~assets/fonts/didot-regular.ttf') format('truetype');
}
